@font-face {
  font-family: "Poppins-Regular";
  src: url(/fonts/Poppins-Regular.ttf?35d26b781dc5fda684cce6ea04a41a75);
}
@font-face {
  font-family: "Lotion Regular";
  src: url(/fonts/Lotion-Regular.ttf?71221db365a917beac435011c356b481) format("ttf");
}
